AADS_API_URL=http://192.168.39.196:8000
AADS_WS_URL=ws://192.168.39.196:8000/ws
AADS_SIGNALK_URL=http://192.168.39.196:3001
AADS_TILES_URL=http://localhost:8080/styles/raster/
AADS_WIKI_PATH=/opt/aads/docs/current/AADS_WIKI.md
